body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-weight: normal;
    font-size: ex-large;
    padding: 0.25em 0 0.5em 1.25em;
    border-top: 0.5em #90cc00 solid;
    color: black;
    background: #c6ff00;
}

h1 a {
    color: black;
    text-decoration: none;
}

#add-note{
    margin: 5px;
    //display: none;
}

#add-note{
    padding: 0px 10px 10px 10px;
    text-align: left;
}
#add-note textarea{
    width: 40%;
    height: 5em;
}

#navigation{
    border: black 1px solid;
    width: 10%;
    height: 100%;
    display: inline-block;
}

.navi-title{
    text-align: center;
}

#field{
    border: black 1px solid;
    width: 80%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}


.field-title{
    padding: 5px;
    font-weight: bold;
}

.insight-date{
    font-size: large;
}

.insight-type{
    font-size: medium;
    color: gray;
    margin-left: 5px;
}

.field-content{
    margin-left: 4em;
}

.field-content .time{
    color: #0000ee;
    margin-right: 1em;
}

.field-content .division{
    display: inline;
    text-align: right;
}

